<% if flash.notice %>
      <p class="notice error"><%= flash.notice %></p>
    <% end %>
    
    <ul>
      <div class="error_message">
        <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </div>
    </ul>